#cta {
	//background: $primary-color;
	background: url("../img/cta.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	padding: 100px 0 100px 0;
	margin:0;

	h3 {
		color: $primary-color;
		font-family: $primary-font;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 2rem;
	}

	p {
		color: white !important;
		font-family: $secondary-color;
		font-size: 1.1rem;
	}

	a {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.3rem;
		border: 2px solid $primary-color;
		@include border-radius(.5rem, .5rem, .5rem, .5rem);
		padding: 10px;
		cursor: pointer;
		min-width: 250px;
		;

		&:hover {
			color: white;
			background: $primary-color;
		}
	}
}